body {
 background-color: darkslategray;
 color: wheat;
 font-family: "Quicksand", sans-serif;
 display: flex;
 justify-content: center;
align-items: center;
height: 700px;
margin: 0;

}

button {

    background-color: darkkhaki;
    color: midnightblue;
    font-family: "Quicksand", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}